{% extends "input/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h3><a class="mr-2" > Instructions </a></h3>
    </div>
    <b><a class="article-title" >Start New Task:</a></b>
    <p class="article-content"> 
    	1/ Scan Your Barcode
    	2/ Click "Enter" 
    	3/ Scan Task Barcode
    	4/ Click "Start"
    </p>
    <b><a class="article-title" >End Current Task</a></b>
    <p class="article-content"> 
    	1/ Scan Your Barcode 
    	2/ Click "Enter" 
    	3/ Input Work Complete 
    	<div class = "small">
    	 - Receiving: Box ID <br>
    	 - Bundling: Box ID & SKU ID <br>
    	 - Putaway: (from system) <br>
    	 - Picking: (from system) <br>
    	 - Packing: Order Number <br>
    	</div><br>
    	4/ Click "End"

    </p>

  </div>
</article>
{% endblock content %}