{% extends "input/base.html" %}
{% load crispy_forms_tags %}

{% block admin %}
<div class="container wrap sidebar-right" id = "admin-sidebar">
  <div class="content-section">
    <h3> Admin Sidebar </h3>
    <p class='text-muted'> Confidential for Admin
      <a class="nav-item nav-link" href="{% url 'input:dashboard' %}">Dashboard</a>
      <a class="nav-item nav-link" href="{% url 'input:Download-Input' %}">Download L7D Tracking Data</a>
      <a class="nav-item nav-link" href="{% url 'users:logout' %}">Log Out</a>	
    </p>
  </div>
</div>
{% endblock %}
