{% extends "input/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <form method = "POST" id="action_form" >{% csrf_token %}
        {{ form1.user_name | as_crispy_field }}

        <div id = "backbuttonfield" style = "visibility: hidden;" >
        <p><a class="button" href="{% url 'input:scan' %}" > Change User </a></p>
        </div>
        <div id = "history">      
          <br><br>
          {% for post in posts %}
          <p class="article-content"> <small class="text-muted">{{ post.ctime }}</small>
          {{post.user_name}} {{ post.action }} {{ post.task }} </p> 
          {% endfor %}  
        </div>

        <div style = "visibility: hidden;" required value = "taskValue">     
        {{ form1.task | as_crispy_field}}
        </div>

        <div id = "startbuttonfield" style = "visibility: hidden;">
          <br><button type = "submit" id = "start" class="btn btn-success btn-sm"> Start </button>
        </div>  

        <div style = "visibility: hidden;" value = "workValue">
        {{ form1.work_complete | as_crispy_field }} 
        <button type = "submit" id = "end" class="btn btn-danger btn-sm" > End </button>
        </div>    

      </form><br>

      <div id = "action_logs"></div>
    </div>

    <div class="col-md-6" id= "groupfield" style = "visibility: hidden;">
      <p><b>Group Members</b></p>
      <form method = "post" id = "group_form" > {% csrf_token %} 
      <div> <label for="id_member_name">Add members by scanning agent barcode:</label> {{form2.member_name | as_crispy_field }} </div>
      <button type="button" id = "add" class="btn btn-success btn-sm">Add</button>
      </form><br>
      
      <div class="table-responsive" id="member">     
      </div>
    </div>
  </div>
{% endblock content %}


{% block javascript %}
<script type="text/javascript">
  var username = ''
  var update_status = true
  var to_use_this_task = false
  var status = 0
  var task = ''
  var is_group = false
  var work_complete = ''
  var output_valid = false
  var need_output = true;

  $("#id_user_name").focus();
  $('#id_user_name').scannerDetection({
    timeBeforeScanTest: 200,
    avgTimeByChar: 60,    
    preventDefault: true, 
    endChar: [13],   
    onComplete: function(barcodeValue, qty) {
      username = barcodeValue;
      console.log(username);
      $('#history').empty();

      // Get user information with input: user_name
      $.ajax({
        url: '/ajax/get_user/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {  
          show_task(data);  

          $("#div_id_task").scannerDetection({
              timeBeforeScanTest: 200,
              avgTimeByChar: 60,    
              preventDefault: true, 
              endChar: [13],   
              onComplete: function(taskValue, qty) {
                $.ajax({
                    url: '/ajax/check_task/',
                    data:{
                      'task': taskValue
                    },
                    dataType: 'json',
                    success: function (data) {
                      console.log(data)
                      valid = data['valid']
                      if (!valid) {
                        alert("Invalid Task!")
                        $("#start").attr("disabled", true);
                      } else {
                        $("#start").attr("disabled", false);
                        $('#id_task').val(taskValue);
                      }
                    },
                    error: function(errmsg) {
                      console.log("check task error! "+ errmsg)}
                  });
              }, onError: function(errmsg){ alert('Work Complete Field Error! ' + errmsg);}
          });


          $('#action_form').on('submit', function(event){
            $this = $(this);
            if (event.keyCode == 13 || event.keyCode == 17 || event.keyCode == 74 || $this.data().isSubmitted) {
              event.preventDefault();
              return false;
            } else {
              event.preventDefault();
              update_status = true;
              $(":submit", this).attr("disabled", "disabled");
              console.log("Multiple submissions are blocked")
              $this.data().isSubmitted = true;
              create_post(update_status);
            }
          });
 
          // document.getElementById("div_id_work_complete").addEventListener('keydown', function(event){
          //   if(event.keyCode == 17 || event.keyCode == 74 ){
          //     event.preventDefault();
          //     console.log("redirect event");
          //   } 
          //     console.log(event.charCode)
          //     work_complete = $("id_work_complete").val();
          //     console.log(work_complete)
          //     if (work_complete) {
          //       work_validation(task, work_complete);
          //       if (output_valid) {
          //         console.log("Valid Output!")
          //         update_status = false;
          //         create_post(update_status);
          //       }
          //       $("id_work_complete").val('');
          //       $('id_work_complete').focus();
          //    }
          //   });

        $("#div_id_work_complete").scannerDetection({
            timeBeforeScanTest: 200,
            avgTimeByChar: 60,    
            preventDefault: true, 
            endChar: [13],   
            onComplete: function(workValue, qty) {
              work_complete = workValue;
              work_validation(task, work_complete);
              if (output_valid) {
                console.log("Valid Output!")
                update_status = false;
                create_post(update_status);
              }
              $("id_work_complete").val('');
              $('id_work_complete').focus();
            }, onError: function(errmsg){alert('Work Complete Field Error! ' + errmsg);}
          });
        }, error : function(xhr, errmsg, err) {alert("Invalid User!")}
      });
      }, onError: function(xhr, errmsg, err) {alert('Scanner Error ' + errmsg);}
    });


  function show_task(data){
    console.log(data)
    status = data['status']
    task = data['task']
    is_group = data['is_grp']

    document.getElementById('div_id_user_name').innerHTML = "Logged in as: " + username;
    document.getElementById("div_id_task").style.visibility = "visible";        
    document.getElementById('backbuttonfield').style.visibility = "visible";
    
    if (status == 2) {
      $('#history').empty()
       $.ajax({
        url: '/ajax/check_task/' ,
        data:{
          'task': task
        },
        dataType: 'json',
        success: function (data) {
          console.log(data)
          need_output = data['need_output']
          show_output(need_output)
        },
        error: function(errmsg) {
          console.log("check task error! "+ errmsg)
          need_output = true}
      });
       show_output(need_output)  
      
    } else {
      console.log("To Start Task");   
      document.getElementById('startbuttonfield').style.visibility = "visible";         
      document.getElementById("div_id_work_complete").style.visibility = "hidden";
      $("#id_task").focus();
    }
    if (is_group) {show_group();} //show group details for group barcode
  }

  function show_output(need_output){
    document.getElementById('div_id_task').innerHTML = "Current Task: " + task;
    document.getElementById('startbuttonfield').style.visibility = "hidden";
    document.getElementById("div_id_work_complete").style.visibility = "visible";
    if (need_output) {
        $("#id_work_complete").focus();
      } else {
        document.getElementById("div_id_work_complete").innerHTML = "Work Complete is not required, proceed to End task.";
      }      
      document.getElementById("end").style.visibility = "visible";      
      to_use_this_task = true;
  }

  function show_group(){
    document.getElementById('groupfield').style.visibility = "visible"
    
    $(document).ready(function(){
      load_members();
      $('#add').click(function(event) {
        event.preventDefault();
        if (event.keyCode == 13 || event.keyCode == 17 || event.keyCode == 74) {
              event.preventDefault();
              return false;
        } else {
        var new_member = $('#id_member_name').val();
        $.ajax({
          url: '/ajax/modify/' + username + '/add/' + new_member +'/',
          success: function (data) {
            var add_success = data['success']
            load_members();
            if (!add_success) {
              alert("Error! " + data['msg'])
              return false;
            }
            if (status == 2 & add_success) {
              console.log("Record group details after adding")
              create_post(update_status = false);
            }
            $("id_member_name").val('');
          },
           error : function(xhr, errmsg, err) {alert("Invalid User!")}
        });
      }});

      $(document).on('click', '.remove', function() {
        var old_member = $(this).attr('id');
        console.log("To remove member: " + old_member)
        $.ajax({
          url: '/ajax/modify/' + username + '/remove/' + old_member +'/',
          success: function (data) {
            load_members();
            if (status == 2) {
              console.log("Record group details after removing")
              create_post(update_status = false);
            }
          }
        });
      });
    });
  }

  // load all group members & button for removal
  function load_members(){
    $.ajax({
      url: '/ajax/get_group_members/',
      data: {
        'username': username
      },
      dataType: 'json',
      success: function (data) {

        var members = data['members']
        var member_names = data['member_names']
        $('#member').empty()
        $('#member').append('<table class="table table-bordered">')

        // iterate through all members
        for(var i = 0; i < members.length ; i++ ) {
          var member = members[i]
          var member_name = member_names[i]
          var serial_no = i + 1
          $('#member').append('<tr>\
              <td width="10%">' + serial_no + '. ' + '</td>\
              <td width="60%">' + member_name + '</td>\
              <td width="30%"><button type="button" name="remove" class="btn btn-danger btn-sm remove" id= "'+ member_name + '" >Remove</button></td>\
              </tr><br>');
        }
        $('#members').append('</table>')
      } 
    });
  }

  //AJAX for posting form
  function create_post(update_status){
    $("#action_form").attr('disabled','disabled');
    var formdata = $('#action_form').serialize();

    // add fields value when they are empty
    formdata += "&user_name=" + encodeURIComponent(username);
    formdata += "&work_complete=" + encodeURIComponent(work_complete);
    if(to_use_this_task) {
      formdata += "&task=" + encodeURIComponent(task);
    }
    console.log(formdata)
    if (update_status) {url = "/ajax/post/"
    } else {url = "/ajax/record/"}

    $.ajax({
      url : url, 
      type : "POST", 
      data : formdata,          
      success : function(data) {
        $('#action_logs').append('<p>' + data['work_complete'] + ' </p>');
        console.log(data);
        if ((update_status) | (task.includes('PACK'))) {
          location.reload(true);
        }
      },
      Error: function(string) {alert('Post Error ' + string);}
    });
  }

  function work_validation(task, work_complete) {
    $.ajax({
        url: '/ajax/validate_work_complete/' ,
        data:{
          'task': task,
          'work_complete': work_complete,
        },
        dataType: 'json',
        success: function (data) {
          if (data['valid']) {
            output_valid = true
            $("div_id_work_complete").val(work_complete);
          } else {
            output_valid = false
            $("div_id_work_complete").val('');
            alert("Invalid! User/task barcodes are detected.");
            return false;
          }
        },
        error: function(errmsg) {
          console.log("Work complete validation error! "+ errmsg)}
      });
  }  
 
</script>
{% endblock %}


